/* countdown.css */

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f3f5f8;
  color: rgb(11, 9, 9);
  text-align: center;
  margin: 0;
  padding: 0;
}

.countdown-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  max-width: 1000px;
  margin: auto;
  gap: 20px;
}

.event-details {
  flex: 1;
  text-align: left;
}

.event-details h2 {
  font-size: 30px;
  margin-bottom: 10px;
}

.event-details p {
  font-size: 18px;
  margin-bottom: 20px;
}

.register-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #00b894;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  transition: background 0.3s ease;
}

.register-btn:hover {
  background-color: #019870;
}

.timer-container {
  flex: 1;
  text-align: center;
}

.timer-container h2 {
  font-size: 26px;
  margin-bottom: 20px;
}

.timer {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.time-box {
  background-color: #f39c12;
  border-radius: 10px;
  padding: 15px 10px;
  min-width: 70px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.4);
}

.time-box:nth-child(2) { background-color: #27ae60; }
.time-box:nth-child(3) { background-color: #e67e22; }
.time-box:nth-child(4) { background-color: #9b59b6; }

.time-box span {
  font-size: 28px;
  font-weight: bold;
}

.time-box label {
  font-size: 14px;
  display: block;
  margin-top: 5px;
}
